-- Migration script to update assessor_properties table to new schema
-- Run this after deactivating and before reactivating the plugin

-- Drop existing tables if they exist
DROP TABLE IF EXISTS wp_assessor_property_versions;
DROP TABLE IF EXISTS wp_assessor_properties;

-- Create new properties table with updated schema
CREATE TABLE wp_assessor_properties (
    id mediumint(9) NOT NULL AUTO_INCREMENT,
    tax_declaration_number varchar(100) NOT NULL,
    previous_tax_declaration_number varchar(100),
    declarant_last_name varchar(100) NOT NULL,
    declarant_first_name varchar(100) NOT NULL,
    declarant_middle_initial varchar(10),
    location text NOT NULL,
    lot_number varchar(100),
    unique_lot_number_identified varchar(100),
    area_hectare decimal(10,4),
    title_number varchar(100),
    assessed_value decimal(15,2),
    effectivity_date varchar(20),
    pin varchar(100),
    address text,
    assessment_date date,
    kind_of_property varchar(50) NOT NULL,
    gen_class varchar(50),
    memoranda text,
    supporting_documents text,
    status varchar(50) NOT NULL DEFAULT 'active',
    created_by mediumint(9) NOT NULL,
    updated_by mediumint(9) NOT NULL,
    created_at datetime DEFAULT CURRENT_TIMESTAMP,
    updated_at datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
    PRIMARY KEY (id),
    UNIQUE KEY tax_declaration_number (tax_declaration_number),
    KEY declarant_last_name (declarant_last_name),
    KEY declarant_first_name (declarant_first_name),
    KEY location (location(100)),
    KEY kind_of_property (kind_of_property),
    KEY status (status)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- Create new property versions table with updated schema
CREATE TABLE wp_assessor_property_versions (
    id mediumint(9) NOT NULL AUTO_INCREMENT,
    property_id mediumint(9) NOT NULL,
    version_number int NOT NULL,
    tax_declaration_number varchar(100) NOT NULL,
    previous_tax_declaration_number varchar(100),
    declarant_last_name varchar(100) NOT NULL,
    declarant_first_name varchar(100) NOT NULL,
    declarant_middle_initial varchar(10),
    location text NOT NULL,
    lot_number varchar(100),
    unique_lot_number_identified varchar(100),
    area_hectare decimal(10,4),
    title_number varchar(100),
    assessed_value decimal(15,2),
    effectivity_date varchar(20),
    pin varchar(100),
    address text,
    assessment_date date,
    kind_of_property varchar(50) NOT NULL,
    gen_class varchar(50),
    memoranda text,
    supporting_documents text,
    change_reason text,
    created_by mediumint(9) NOT NULL,
    created_at datetime DEFAULT CURRENT_TIMESTAMP,
    PRIMARY KEY (id),
    KEY property_id (property_id),
    KEY version_number (version_number),
    KEY created_at (created_at)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
